# Exploring a dataset

Today we're going to start exploring our first dataset!

A dataset is like a table of data. The rows of a dataset represent instances of something(e.g. people, bicycles, countries etc.) The columns represent characteristics of these instances(e.g. skin colour, population size, weight)

When you start a data science project it's very important to start by exploring the data and getting to know it. You want to make sure you really understand what the data represents in reality.

#### Goal for today:
Explore the dataset, bikestats and clean it up

Throughout this notebook we're going to use Python comments #

Python comments allow you to make notes in the code and are very useful

In [70]:
# Import pandas library use short name "pd"
import pandas as pd

In [71]:
# Create a Pandas DataFrame called "df" by reading the bikestats.csv file
df = pd.read_csv('/Users/Seb/development/redi/bikestats.csv')

In [72]:
# See the first 5 rows of the dataframe
df.head()

,Unnamed: 0,ID,Name,Latitude,Longitude,BikesAvailable,EmptySlots,Installed,Locked,Temporary,UpdateTime
0,0,1,"River Street , Clerkenwell",51.529163,-0.109971,3.0,16,True,False,False,10:30
1,1,2,"Phillimore Gardens, Kensington",51.499607,-0.197574,31.0,6,True,False,False,10:30
2,2,3,"Christopher Street, Liverpool Street",51.521284,-0.084606,NaN,0,True,False,False,10:30
3,3,4,"St. Chad's Street, King's Cross",51.530059,-0.120974,NaN,16,True,False,False,10:30
4,4,5,"Sedding Street, Sloane Square",51.493130,-0.156876,25.0,0,True,False,False,10:30

In [73]:
# See the columns of the dataframe
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Latitude', 'Longitude', 'BikesAvailable',
       'EmptySlots', 'Installed', 'Locked', 'Temporary', 'UpdateTime'],
      dtype='object')

In [74]:
# Remove a column that we don't want using .drop() function
df = df.drop('Unnamed: 0', axis=1)

In [75]:
# Call the first 5 rows of the dataframe
df.head()

,ID,Name,Latitude,Longitude,BikesAvailable,EmptySlots,Installed,Locked,Temporary,UpdateTime
0,1,"River Street , Clerkenwell",51.529163,-0.109971,3.0,16,True,False,False,10:30
1,2,"Phillimore Gardens, Kensington",51.499607,-0.197574,31.0,6,True,False,False,10:30
2,3,"Christopher Street, Liverpool Street",51.521284,-0.084606,NaN,0,True,False,False,10:30
3,4,"St. Chad's Street, King's Cross",51.530059,-0.120974,NaN,16,True,False,False,10:30
4,5,"Sedding Street, Sloane Square",51.493130,-0.156876,25.0,0,True,False,False,10:30