# Exercici 3

Total people in the database

In [35]:
import pandas as pd

In [36]:
berlin = pd.read_csv('./berlin_names.csv')

In [9]:
persons = berlin['anzahl']

In [37]:
class style:
    REDB = '\u001b[41;1m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    RESET = '\u001b[0m'

In [38]:
total=0
for num in persons:
    total= total + num
print (' The total of people in our database is of '+style.REDB+'{}'.format(total)+style.RESET)

 The total of people in our database is of 69510

# Exercici 4

Most common name in each neighbourhood

In [13]:
nb= berlin[berlin['bezirke']=='mitte']

In [14]:
nbx=[]

for i, row in nb.iterrows():
    name= row [1]
    number = row [2]
    supertuplet=(name,number)
    nbx.append (supertuplet)

In [15]:

result = {}
for name,number in nbx:
        total = result.get(name,0) + number
        result[name] = total


improved_nb= (result.items())

In [16]:
super_nb=[]

for name,number in improved_nb:
    againsupertuplet=(name,number)
    super_nb.append(againsupertuplet)

In [17]:
 df_nb = pd.DataFrame(super_nb)

In [18]:
for i, row in df_nb.iterrows():
    name= row [0]
    number = row [1]
    if i== 0:
        biggest_name =name
        biggest_number = number
    else:
        if number > biggest_number:
            biggest_name =name
            biggest_number = number

In [19]:
biggest_name,biggest_number

('Sophie', 69)

Trying to make the superprogram

In [20]:
def most_common ():

    nb_list = berlin['bezirke'].unique()

    for nb_name in nb_list:
        nb= berlin[berlin['bezirke'] == nb_name]
    
        nbx=[]

        for i, row in nb.iterrows():
            name= row [1]
            number = row [2]
            supertuplet=(name,number)
            nbx.append (supertuplet)
    
        result = {}
    
        for name,number in nbx:
            total = result.get(name,0) + number
            result[name] = total

        improved_nb= (result.items())
    
        super_nb=[]

        for name,number in improved_nb:
            againsupertuplet=(name,number)
            super_nb.append(againsupertuplet)
        
        df_nb = pd.DataFrame(super_nb)
    
        for i, row in df_nb.iterrows():
            name= row [0]
            number = row [1]
            if i== 0:
                biggest_name =name
                biggest_number = number
            else:
                if number > biggest_number:
                    biggest_name =name
                    biggest_number = number
    
        print ('The name most common in {} is {}, with a total ammount of {}'.format(nb_name,biggest_name,biggest_number))

In [21]:
most_common()

The name most common in friedrichshain-kreuzberg is Charlotte, with a total ammount of 64
The name most common in tempelhof-schoeneberg is Marie, with a total ammount of 94
The name most common in spandau is Sophie, with a total ammount of 64
The name most common in mitte is Sophie, with a total ammount of 69
The name most common in lichtenberg is Sophie, with a total ammount of 70
The name most common in pankow is Marie, with a total ammount of 112
The name most common in charlottenburg-wilmersdorf is Marie, with a total ammount of 111
The name most common in reinickendorf is Marie, with a total ammount of 26
The name most common in marzahn-hellersdorf is Marie, with a total ammount of 27
The name most common in treptow-koepenick is Marie, with a total ammount of 21
The name most common in steglitz-zehlendorf is Marie, with a total ammount of 23
The name most common in neukoelln is Sophie, with a total ammount of 57

In [22]:
%time most_common()

The name most common in friedrichshain-kreuzberg is Charlotte, with a total ammount of 64
The name most common in tempelhof-schoeneberg is Marie, with a total ammount of 94
The name most common in spandau is Sophie, with a total ammount of 64
The name most common in mitte is Sophie, with a total ammount of 69
The name most common in lichtenberg is Sophie, with a total ammount of 70
The name most common in pankow is Marie, with a total ammount of 112
The name most common in charlottenburg-wilmersdorf is Marie, with a total ammount of 111
The name most common in reinickendorf is Marie, with a total ammount of 26
The name most common in marzahn-hellersdorf is Marie, with a total ammount of 27
The name most common in treptow-koepenick is Marie, with a total ammount of 21
The name most common in steglitz-zehlendorf is Marie, with a total ammount of 23
The name most common in neukoelln is Sophie, with a total ammount of 57
Wall time: 9.25 s

In [23]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\Users\ReDi\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['number', 'style']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [24]:
def most_common2 ():

    nb_list = berlin['bezirke'].unique()
    finaltuplet=[]

    for nb_name in nb_list:
        nb= berlin[berlin['bezirke'] == nb_name]
    
        nbx=[]

        for i, row in nb.iterrows():
            name= row [1]
            number = row [2]
            supertuplet=(name,number)
            nbx.append (supertuplet)
    
        result = {}
    
        for name,number in nbx:
            total = result.get(name,0) + number
            result[name] = total

        improved_nb= (result.items())
    
        super_nb=[]

        for name,number in improved_nb:
            againsupertuplet=(name,number)
            super_nb.append(againsupertuplet)
        
        df_nb = pd.DataFrame(super_nb)
    
        for i, row in df_nb.iterrows():
            name= row [0]
            number = row [1]
            if i== 0:
                biggest_name =name
                biggest_number = number
            else:
                if number > biggest_number:
                    biggest_name =name
                    biggest_number = number
    
            preparingthetuplet = (nb_name,biggest_name,biggest_number)
            finaltuplet.append(preparingthetuplet)
    
    finalpresentation = pd.DataFrame(finaltuplet)
    fp=finalpresentation.drop_duplicates(take_last=True)
    
    fp.plot.

SyntaxError: invalid syntax (<ipython-input-24-5ce1df16768b>, line 50)

In [ ]:
most_common2()

# Exercise 5

In [25]:
gender= berlin['geschlecht']

In [26]:
gender.unique()

array(['w', 'm'], dtype=object)

In [27]:
man= berlin[berlin['geschlecht']=='m']

In [28]:
woman= berlin[berlin['geschlecht']=='w']

In [29]:
totalman=man['anzahl']

In [30]:
totalwoman=woman['anzahl']

In [31]:
totalm=0
for num in totalman:
    totalm= totalm + num
totalm

35610

In [32]:
totalw=0
for num in totalwoman:
    totalw= totalw + num
totalw

33900

In [33]:
totalm+totalw

69510